<h1 class="movie-form-heading">
    <%= (@movie.persisted?) ? "Edit Movie" : "Create New Movie" %>
</h1>
<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div class="row text-center">
      <% @movie.errors.full_messages.each do |message| %>
        <p class="error"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title, class: "modify-movie-label" %>
        <%= f.text_field :title, class:"form-control rm-text-field" %>
      </div>
      <div class="form-group">
        <%= f.label :release_date, class: "modify-movie-label" %><br>
        <%= f.date_field :release_date, class:"form-control rm-text-field" %>
      </div>
      <div class="form-group">
        <%= f.label :director, class: "modify-movie-label" %><br>
        <%= f.text_field :director, class:"form-control rm-text-field" %>
      </div>
      <div class="form-group">
        <%= f.label :runtime_in_minutes, class: "modify-movie-label" %><br>
        <%= f.number_field :runtime_in_minutes, class:"form-control rm-text-field" %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: "modify-movie-label" %><br>
        <%= f.text_area :description, class:"form-control rm-text-field" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :poster, class: "modify-movie-label" %>
        <%= f.file_field :poster, class: "btn btn-default btn-file poster-file-upload rm-text-field" %>
      </div>
      <div class="form-group">
        <%= f.label :remote_poster_url, "Poster URL", class: "modify-movie-label" %><br />
        <%= f.text_field :remote_poster_url, class:"form-control rm-text-field" %>
      </div>
      <% if f.object.poster? %>
        <div class="form-group">
          <%= image_tag f.object.poster.thumb.url %>
          <br>
          <%= f.label :remove_poster, "Remove Poster", class: "modify-movie-label" %>
          <%= f.check_box :remove_poster %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit "Submit", class: "btn submit-button" %><br><br>
        <% if @movie.persisted? %>
          <%= link_to "Back to movie", movie_path(@movie), class:"btn submit-button" %> 
        <% else %>
          <%= link_to "Back to all movies", movies_path, class:"btn submit-button" %> 
        <% end %>
      </div>
    </div>
  </div>

<% end %>