<div class="container">
  <div class="row text-center">
    <%= paginate @users %>
  </div>

  <div class="row">
    <table class="table table-condensed table-bordered user-table">
      <thead class="table-headers">
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Email</th>
          <th>Administrator</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody class="table-entries">
        <% @users.each do |user| %>
          <tr>
            <td><%= user.lastname %></td>
            <td><%= user.firstname %></td>
            <td><%= user.email %></td>
            <td><%= (user.is_admin) ? "Yes" : "No" %></td>
            <td>
              <%= link_to edit_admin_user_path(user) do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to admin_user_path(user), method: :delete, data: {confirm: "Delete user?"} do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
              <% if user.id != current_user.id && !user.is_admin %>
                <%= link_to new_user_masquerade_path(user) do %>
                  <span class="glyphicon glyphicon-log-in"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>