<ul class="dropdown-menu">
  <% if current_user.is_admin %>
    <li>
      <%= link_to "Create Movie", new_movie_path %>
    </li>
    <li>
      <%= link_to "Create New User", new_admin_user_path %>
    </li>
    <li>
      <%= link_to "View All Users", admin_users_path %>
    </li> 
  <% elsif masquerading? && session[:admin_id] != current_user.id %>
    <li>
      <%= link_to "Switch to Admin", user_masquerade_path(current_user, "current"), method: :delete %>
    </li>
  <% end %>
  <li>
    <%= link_to "Log Out", session_path, method: :delete %>
  </li> 
</ul>