<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <strong><a class="navbar-brand" href="<%= movies_path %>">Rotten Mangoes</a></strong>
      <% if current_user %>
        <p class="navbar-text"><%= current_user.fullname %></p>
        <%= link_to "Submit a movie!", new_movie_path, 
                                                class: "btn btn-warning navbar-btn", 
                                                role:"button" %>
        <% if current_user.is_admin %>
          <%= link_to "View All Users", admin_users_path, 
                                                  class: "btn btn-warning navbar-btn", 
                                                  role:"button" %>
          <%= link_to "Create New User", new_admin_user_path, 
                                                  class: "btn btn-warning navbar-btn", 
                                                  role:"button" %>
        <% end %>
        <%= link_to "Log Out", session_path("current"), 
                                                method: :delete, 
                                                class: "btn btn-warning navbar-btn", 
                                                role: "button" %>
      <% else %>
        <%= link_to "Login", new_session_path, class: "btn btn-warning navbar-btn" %>
        <%= link_to "Sign Up", new_user_path, class: "btn btn-warning navbar-btn" %>
      <% end %>
    </div>
  </div>
</nav>